body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1945 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
}
#u1945_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1945_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 76, 91, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1947 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u1948_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u1948.mouseDown {
}
#u1949 {
  position:absolute;
  left:20px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1950 {
  position:absolute;
  left:0px;
  top:45px;
  width:375px;
  height:90px;
  text-align:left;
}
#u1951 {
  position:absolute;
  left:20px;
  top:10px;
  width:335px;
  word-wrap:break-word;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1952 {
  position:absolute;
  left:20px;
  top:155px;
  width:335px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1953 {
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u1954 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:195px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1955_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1955.selected {
}
#u1956 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1957 {
  position:absolute;
  left:20px;
  top:195px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:244px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1959_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1959.selected {
}
#u1960 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1961 {
  position:absolute;
  left:20px;
  top:244px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1962 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1963 {
  position:absolute;
  left:0px;
  top:293px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1963_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1963.selected {
}
#u1964 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1965 {
  position:absolute;
  left:20px;
  top:293px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1968 {
  position:absolute;
  left:0px;
  top:353px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1968_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1968.selected {
}
#u1969 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1970 {
  position:absolute;
  left:20px;
  top:353px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1971 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:422px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1972_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1972.selected {
}
#u1973 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1974 {
  position:absolute;
  left:20px;
  top:422px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1975 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:491px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1976_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1976.selected {
}
#u1977 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1978 {
  position:absolute;
  left:20px;
  top:491px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1980 {
  position:absolute;
  left:20px;
  top:588px;
  width:335px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:3px;
  width:335px;
  word-wrap:break-word;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:628px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1983_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1983.selected {
}
#u1984 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1985 {
  position:absolute;
  left:20px;
  top:628px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1987 {
  position:absolute;
  left:0px;
  top:677px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1987_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1987.selected {
}
#u1988 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1989 {
  position:absolute;
  left:20px;
  top:677px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1991 {
  position:absolute;
  left:0px;
  top:726px;
  width:375px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1991_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u1991.selected {
}
#u1992 {
  position:absolute;
  left:20px;
  top:15px;
  width:335px;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1993 {
  position:absolute;
  left:20px;
  top:726px;
  width:129px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:20px;
}
#u1994 {
  position:absolute;
  left:0px;
  top:15px;
  width:129px;
  word-wrap:break-word;
}
#u1995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1996 {
  position:absolute;
  left:0px;
  top:786px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1996_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
  text-align:right;
  line-height:20px;
}
#u1996.selected {
}
#u1997 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1998 {
  position:absolute;
  left:20px;
  top:786px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u1999 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:855px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2000_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2000.selected {
}
#u2001 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2002 {
  position:absolute;
  left:20px;
  top:855px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2003 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
#u2004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:924px;
  width:375px;
  height:70px;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2004_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:409;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:right;
  line-height:20px;
}
#u2004.selected {
}
#u2005 {
  position:absolute;
  left:20px;
  top:25px;
  width:335px;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2006 {
  position:absolute;
  left:20px;
  top:924px;
  width:129px;
  height:70px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
  text-align:left;
  line-height:24px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:11px;
  width:129px;
  word-wrap:break-word;
}
